:root {
  --color-white: #fff;
  --color-black: #000;
  --color-red: #ff0000;
  --color-yellow: #FFD700;
  --color-red-pale: #ffdddd;
  --color-black-medium: #ccc;
  --color-black-pale: #eee;
  --color-text-pale: #6c6c6c;
  --color-base: #046bc9;
  --color-base-pale: #6ab7ff;
  --color-base-super-pale: #eef8ff;
  /* --color-base: #f58ee2; */
  --color-base-bold: #046bc9;
  --color-background-white: rgba(255, 255, 255, 0.5);
  --color-text-pale: #444;
  --color-background: #f3f5f7;


  --font-size-base: 1.4rem;
  --font-size-big: 1.6rem;
  --font-size-small: 1.2rem;

  --header-height: 72px;
}

.grid-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; 
}
  @media (min-width: 576px) {
    .grid-container {
      max-width: 540px; } }
  @media (min-width: 768px) {
    .grid-container {
      max-width: 720px; } }
  @media (min-width: 992px) {
    .grid-container {
      max-width: 960px; } }
  @media (min-width: 1200px) {
    .grid-container {
      max-width: 1140px; } }


/* Chỉnh độ mỏng của thanh cuộn */
::-webkit-scrollbar {
  width: 1px;  /* Độ rộng dọc */
  /* height: 5px; Độ rộng ngang */
}

/* Màu nền thanh cuộn */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Màu và bo tròn của thanh kéo */
::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 10px;
}

/* Khi hover vào thanh kéo */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}