:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-medium: #ccc;
  --color-black-pale: #eee;
  /* --color-base: #046bc9; */
  --color-base: #f58ee2;
  --color-base-bold: #046bc9;


  --font-size-base: 1.4rem;
  --font-size-big: 1.6rem;
  --font-size-small: 1.2rem;

  --header-height: 72px;
}